<% if(success && success.length) { %>
    <!-- success consisting an empty array, if we put success.length then zero will be considered as falsey -->
    <div class="alert alert-success alert-dismissible fade show" role="alert">
        <%= success %>
        <button class="close" type="button" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
<% } %>

<% if(error && error.length) { %>
    <!-- same concept as success.length -->
    <div class="alert alert-danger alert-dismissible fade show" role="alert">
        <%= error %>
        <button class="close" type="button" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
<% } %>